:host {
    display: block;
}

.window {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    transition: all 0.5s ease;
    border: 1px solid gray;
    background: #0a0c10;
    &.minimized {
        height: 2em;
    }
}

.fullscreen {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.dettached {
    position: absolute;
    top: 10px;
    left: 100px;
}

.closed {
    display: none !important;
}

.minimized {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 10em;
    .main,
    .footer {
        display: none;
    }
}

.grid-header-footer-con {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header''main''footer';
    width: calc(100% - 2px);
    .haeder {
        grid-area: header;
    }
    .main {
        grid-area: main;
        overflow: auto;
    }
    .footer {
        grid-area: footer;
    }
}